*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Infinite scroll styles */
#cards-container {
	width: 100vw;
	height: 100vh;
	padding-top: 8vh;
	padding-bottom: 5vh;
	overflow-y: scroll;
}

.user-info {
	border-bottom: 2px white;
}

.user-info[contenteditable='true'] {
	/* border-bottom: solid #00f0b5 2px; */
	color: #05c643 !important;
}

.user-info.edited[contenteditable='true'] {
	/* border-bottom: solid #f28202 2px; */
	color: #f28202 !important;
}

#loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
	border-radius: 5px;
	/* display: none; */
	font-size: 1.25rem;
	align-items: center;
	justify-content: center;
	/* background-color: rgba(0, 0, 0, 0.5); */
	z-index: 9;
}

.lds-ring {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 64px;
	height: 64px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* FAVORITE USER PAGE CUSTOM STYLES */
#star-icon {
	cursor: pointer;
}

/*
PROFILE PAGE CUSTOM STYLES
 */

#edit,
#save {
	top: 10px;
	right: 10px;
}

#cancel {
	top: 10px;
	left: 10px;
}

#remove {
	bottom: 10px;
	right: 10px;
}

/* ADVANCED SEARCH CUSTOM STYLES */
.badge {
	margin-top: 2em;
}

.cancelIcon {
	font-size: 1.4em;
}

/* Login styles */
#cover-container {
  width: 100vw;
  height: 210px;
  background-image: url(../assets/images/splash-img.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	-webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 85%);
	clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 85%);
}

#cover-logo {
	position: absolute;
	width: 90px;
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}